.submission {
    width: max-content;
    background-color: rgb(83, 83, 83);
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 8px;
}

.post {
    width: 100%;
}

.submission p {
    margin: 0;
}

.text {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}

a {
    text-decoration: none;
}

.nickname {
    padding-right: 10px;
}

.inline-bar {
    display: flex;
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.reply-button {
    border-radius: 6px;
    border: none;
}

.replies-container {
    margin-left: 32px;
    .submission {
        margin-top: 10px;
    }
}