.banner {
    width: 100%;
    text-align: center;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 8px;
}

.warning {
    background-color: orange;
}

.success {
    background-color: greenyellow;
}