#content {
    height: 100vh;
}

.chat {
    margin-left: 10px;
    height: inherit;
    display: flex;
    flex-direction: column;
}

.messages-container {
    flex: 1 1 auto;
    overflow-y: auto;
}

.message-container {
    width: max-content;
    background-color: rgb(83, 83, 83);
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 8px;

    p {
        margin: 0;
    }
}

.message-top-bar {
    display: flex;
}

.send-container {
    padding-top: 10px;
    display: flex;
}

.send-container {
    display: flex;
    margin-bottom: 10px;
    margin-right: 10px;

    input {
        border: none;
        color: rgb(228, 228, 228);
        background-color: rgb(70, 70, 70);
        border-radius: 10px;
        padding: 10px;
    }
}

.message-input {
    flex-grow: 1;
    margin-right: 10px;
}