#content {
    margin: auto;
    width: 50%;

    a {
        text-decoration: none;
    }
}

.chat-container {
    position: relative;
    width: max-content;
    background-color: rgb(83, 83, 83);
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 8px;
    overflow: hidden;

    p {
        margin: 0;
    }
}

.chat-top-bar {
    display: flex;
}

.unread-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background-color: red;
}
