#content {
    margin: auto;
    width: 50%;
}

.chat-container {
    width: max-content;
    background-color: rgb(83, 83, 83);
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 8px;

    p {
        margin: 0;
    }
}

a {
    text-decoration: none;
}

.chat-top-bar {
    display: flex;
}