#content {
    margin: auto;
    width: 50%;
    padding-top: 10px;
}

.instance-div {
    width: max-content;
    background-color: rgb(83, 83, 83);
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 8px;
}

.instance-div p {
    margin: 0;
}

.secondary-info {
    font-size: 0.8rem;
}

.nickname {
    padding-right: 10px;
}