#content {
    margin: auto;
    width: 25%;
    height: 50%;
}  

form {
    height: 100%;
}

input[type=password] {
    width: 100%;
    border-radius: 8px;
    border: none;
    outline: none;
    padding: 8px;
    margin-top: 16px;
    margin-bottom: 16px;
    resize: none;
}

input {
    border-radius: 8px;
    border: none;
    padding: 8px 12px;
}