html {
    background-color: rgb(41, 41, 41);
}

.html, body {
    height: 100vh;
    /* force it to be full height 
       to make the height in text-content work*/
}

.primary-color {
    color: rgb(228, 228, 228);
}

.secondary-info {
    color: rgb(189, 189, 189);
    font-size: 0.8rem;
}